body {
  width: 320px;
}

input[type=url] {
  width: 300px;
  margin-bottom: 10px;
}

input[type=number] {
  width: 40px;
  margin-bottom: 10px;
}

#losstime {
  width: 60px;
}

input[type=text] {
  width: 120px;
  margin-bottom: 10px;
}

input[type=button] {
  display: block;
  width: 80px;
  margin: 10px auto;
}

label {
  display: block;
  width: 100px;
}
