<div class="album">
  <h2>{{name}}</h2>
  {{#each images}}
  <div class="frame">
    <a class="frame-link" href="{{path}}">
      <img class="thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-echo="{{path}}"/>
      <span class="ms">{{ms}}</span>
    </a>
  </div>
  {{/each}}
</div>
